<div class="row justify-content-center">

  <form class="col-2" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Please sign in.</legend>
      <ngb-alert *ngIf="invalidCredentials" [dismissible]="false" type="danger" class="text-center">
        Invalid credentials!
      </ngb-alert>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="Username"
          id="username"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          id="password"
          class="form-control"
        />
      </div>
      <div class="d-grid">
        <input type="submit" value="Login" class="btn btn-primary"/>
      </div>
    </fieldset>
  </form>
</div>
